@font-face {
    font-family: 'Nunito';
    src: url('../../public/fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../../public/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: normal;
}
