$main-color: #5836d3;
$main-grad: linear-gradient(0.25turn, #5836d3, #8377ad);
$main-txt-grad: linear-gradient(90deg, #a1e456 0%, #dae26c 60%, #a1e456 100%);

@mixin animateTxt($color) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: $color;
    background-clip: text;
    background-size: 200% 200%;
    animation: txt 4s ease infinite;

    @keyframes txt {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 210% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }
}

// .dotWheel {
//     position: absolute;

//     bottom: 20%;
//     left: 15%;
// }

// .dotDoor {
//     position: absolute;

//     bottom: 30%;
//     right: 47%;
// }

// .dotHood {
//     position: absolute;

//     bottom: 40%;
//     left: 20%;
// }

// .dotLamp {
//     position: absolute;

//     bottom: 38%;
//     right: 5%;
// }

// .dotExhaust {
//     position: absolute;

//     bottom: 25%;
//     right: 5%;
// }

// .dotGlass {
//     position: absolute;

//     bottom: 45%;
//     right: 35%;
// }
