.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 80%;
    height: auto;
}

.buttonL,
.buttonR {
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;

    img {
        width: 55px;

        @media (max-width: 600px) {
            width: 35px;
        }
    }
}

.buttonR {
    transform: rotate(180deg);
}
