.card {
    width: 300px;
    height: 400px;

    box-shadow: 0px 0px 5px rgb(150, 150, 150);

    border-radius: 15px;
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: #f8f8f8;
    }

    color: #000;

    // @media (max-width: 500px) {
    //     height: 12rem;
    // }

    padding: 20px;

    @media (max-width: 600px) {
        width: 200px;
        height: 300px;
    }
}

.header {
    text-align: center;

    span {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        white-space: nowrap;
    }
}

.img {
    img {
        margin: 15px auto 0;
        width: clamp(70px, 5vw, 120px);
        height: clamp(70px, 5vw, 120px);
    }
}

.cardBody {
    margin: 15px 0 0 0;
    width: 70%;
}
