.card {
    position: relative;

    width: clamp(12rem, 40vw, 20rem);
    height: clamp(16rem, 30rem, 25rem);

    box-shadow: 0px 0px 5px rgb(150, 150, 150);

    // border: 1px solid #000;
    border-radius: 15px;
    transition: all 0.4s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: #f8f8f8;
    }

    color: #000;

    @media (max-width: 500px) {
        height: 12rem;
    }
}

.header {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);

    span {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        white-space: nowrap;
    }
}

.img {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: clamp(70px, 5vw, 120px);
        height: clamp(70px, 5vw, 120px);
    }
}

.cardBody {
    position: absolute;

    top: 60%;
    left: 15%;
}
