@import '../../styles/variables';

.main {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.header {
    position: relative;
    z-index: 2;
    h1 {
        margin: 10px 0;
        font-size: clamp(1rem, 3vw, 4rem);
        color: $main-color;
    }
}

.logo {
    position: relative;
    top: -2%;

    width: 55%;
    height: 50%;

    margin: 5%;
}

.dotWheel {
    position: absolute;

    bottom: 20%;
    left: 15%;
}

.dotDoor {
    position: absolute;

    bottom: 30%;
    right: 47%;
}

.dotHood {
    position: absolute;

    bottom: 40%;
    left: 20%;
}

.dotLamp {
    position: absolute;

    bottom: 38%;
    right: 5%;
}

.dotExhaust {
    position: absolute;

    bottom: 25%;
    right: 5%;
}

.dotGlass {
    position: absolute;

    bottom: 45%;
    right: 35%;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;

    height: 100%;
    width: 70%;

    margin-bottom: 10%;
}
